<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p  class='m-0'>
                    <span class="badge badge-warning">
                        pending
                    </span>
                </p>
                <p class='m-0'>
                    order (24)
                </p>
                <p class='m-0 d-flex flex-column'>
                    <span>18-02-2022</span>
                    <span>12:09 AM</span>
                </p>
            </div>
            <div class="card-body">
                <!-- <div class="time-line">
                    <span class="first-step">1</span>
                    <span class="second-step">2</span>
                    <span class="third-step">3</span>
                </div> -->
            </div>
            <img src="../../../../../../assets/images/ads/ads.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>