
<section class="orders">
<div class="backBtn">
    <a href="#"><i class="fa fa-arrow-left"></i></a>
    <span>My orders</span>
</div>
<div class="tabs">
    <button class="tablinks waiting active" onclick="showOrders(event, 'Waiting')">Waiting</button>
    <button class="tablinks delivered" onclick="showOrders(event, 'Delivered')">Delivered</button>
</div>
<div class='row' >
    <div class='col-md-4' *ngFor='let order of orders'>
        <!-- <div class="card">
            <div class="order_item">
            <div class="card-header d-flex justify-content-between align-items-center">
                
               
                <div class="header">
                    <p class="status">
                        <span></span>
                        Pending
                    </p>
                    <p class="order_number">Order (101)</p>
                    <p class="date">
                        <span>26-05-2022</span>
                        <span>03:55 PM</span>
                    </p>
                </div>
           
           
            <div class="card-body">
                <div class="time-line">
                    <span class="first-step">1</span>
                    <span class="second-step">2</span>
                    <span class="third-step">3</span>
                </div>
            </div>
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->
          <div id="Waiting" class="tabcontent active">
          <div class="order_item">
            <!-- <div class=" header card-header d-flex justify-content-between align-items-center">
            -->
                <div class=" header"> 
                <p class="status">
                    <span></span>
                    Pending
                </p>
                <p class="order_number">Order (101)</p>
                <p class="date">
                    <span>26-05-2022</span>
                    <span>03:55 PM</span>
                </p>
            </div>
        
            <div class="progress ">
                <div class='row '> 
                    <p class='col-md-12 ' >Online Payment</p>
                
                <div class='col-md-12 '>
                <ul class=" progressbar d-flex justify-content-evenly">
                    <li class="active col-md-4 ">Processing</li>
                    <li class="active col-md-4">shipped</li>
                    <li class='col-md-4'>delivered</li>
                </ul>
                </div>
            </div>
            </div>
            <div class="content">
                <div class="imgBx">
                    <img src="./watch1.jpg" alt="Watch Brand">
                </div>
                <div class="textBx">
                    <h3 class="title">Clock New</h3>
                    <p class="price">50 EGP</p>
                    <p>Rate this product:</p>
                    <p class="ratings">
                        <i class="fa fa-star active "></i>
                        <i class="fa fa-star active "></i>
                        <i class="fa fa-star active "></i>
                        <i class="fa fa-star active "></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
            </div>
            <div class="buttons">
                <button class="smBtn">View code</button>
                <button class="lgBtn">View Order Details</button>
                <button class="smBtn">Report order</button>
            </div>
        </div>
    </div>
</div>
</div>
</section>
