<div class="card">
    <div class="card-header">
        <h5>max number of active ads</h5>
    </div>
    <div class="card-body">
        <div class=''>
            <span class="badge badge-light mb-1">278</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
        <ul class="list-group mt-2">
            <li class="list-group-item d-flex justify-content-between">
                <span>active ads</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>remainder ads</span>
                <span class='badge badge-light'>258</span>
            </li>
        </ul>
        <button class="btn btn-sm btn-primary mt-2">
            upgrade now
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class='m-0 text-white'>
                    free account
                </h4>
            </div>
            <div class="card-body">
                <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>expire date</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>active ads</span>
                        <span class='badge badge-light'>20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>remainder ads</span>
                        <span class='badge badge-light'>20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>price </span>
                        <span class='badge badge-light'>free</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class='m-0 text-white'>
                    mazen acc
                </h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>expire date</span>
                        <span class='badge badge-light'>2022-08-13</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>active ads</span>
                        <span class='badge badge-light'>20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>remainder ads</span>
                        <span class='badge badge-light'>20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>price </span>
                        <span class='badge badge-light'>500egp</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="m-0">
            categories
        </h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="fa fa-car"></i> old cars</span>
                <span class='badge badge-light'>20</span>
            </li>
        </ul>
    </div>
</div>